 .fs-repayment-box:first-of-type
{
    margin-top:2em;
}

.repaymentDialogHeader{
    font-size: 18px;
    padding-bottom: 0;
    .ui-dialog {
        max-height: 640px !important;
    }
}

.fs-repayment-box{
    background-color:white;
    margin-top:1em;
    margin-bottom:1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    .header {
        font-size: 18px;
        .title {
            cursor: pointer;
            color: #4c1f97 !important;
            &:hover {
                color: #4c1f97 !important;
                text-decoration: underline !important;
            }
        }
        .button {
            color: #9b9b9b;
            &:hover {
                color: #333333 !important;
            }
        }
    }
    .body {
        padding: 1em 0em;
    }
    .footer {
        padding: 1em 0em 0em 0em;
        border-top: solid 1px rgba(151,151,151,0.3);
    }
}

.brwRepayment {
  .accountOverview {
    background-color: #3d187e;
    .accountOverviewCaption {
        h1 {
            color: #ffffff;
        }
        .caption {
            text-align: left;
            color: #ffffff;
            opacity: 0.55;
        }
    }
    .accountOverviewBtn {
        margin-top: 100px;
        width: 250px;
        height: 50px;
        line-height: 35px;
        font-size: 20px;
        color: #ffffff;
    }
  }
}

.loan-offer-container {
    background-color: #fafafa;
    display: inline-block;
    width: 100%;
    // padding: 0 1.5em 1em 1.5em;
    font-size: 14px;
}

.loan-offer-content {
    padding: 1em !important;
    border: none !important;
}

.loan-offer-document {
    display: block;
    cursor: pointer;
    width: 100%;
    margin: 1em 0;
    text-align: center;
    color: inherit !important;
    text-decoration: none !important;
    &:hover {
        color: inherit !important;
        text-decoration: none !important;
    }
}

.installment-item {
    margin: 0 0 1em 0;
    padding-top: 1em;
    border-top: 1px solid rgba(216, 216, 216, 0.75);
}
.fs-repayment-checkbox {
  font-size: 20px;
  padding-top: 1em;
}
.button-container {
    margin: 1em auto;
    padding-top: 1em;
    border-top: 1px solid rgba(216, 216, 216, 0.75);
    text-align: center;

    .btn {
        display: inline-block;
        margin: 0 0.25em;
        padding: 0.5em 1.5em;
    }
}


@media #{$phone} {
  .brwRepayment {
    .accountOverview  {
      .accountOverviewCaption {
          padding: 1em;
      }
    }
  }
  .fs-repayment-filter {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media #{$tablet} {
  .loan-offer-dialog,
  .loan-instalment-dialog,
  .loan-detail-dialog {
    width: 480px;
  }
  .brwRepayment {
    .accountOverview  {
        .accountOverviewCaption {
        padding-left: 0;
        padding-top: 2em;
        padding-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
            &.repayment {
                width: 600px;
            }
        }
    }
    .fs-repayment-box {
      width: 600px;
      padding: 2em;
    }
  }
  .fs-repayment-filter {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
  }
}
@media #{$desktop} {
  .fs-repayment-box {
    width: 600px;
    padding: 2em;
  }
  .fs-repayment-filter {
    width: 600px;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
  }
}

.installment-detail-table{
  th, td {
    padding-left: 8px;
  }
}

.installment-detail-title{
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
