@media #{$phone} {
  .mat-checkbox-layout .mat-checkbox-label {
    font-size: $font-12;
  }

  .log-in-text {
    font-size: $font-12;
  }
}

@media #{$tablet} {
  .mat-checkbox-layout .mat-checkbox-label {
    font-size: $font-16;
  }

  .log-in-text {
    font-size: $font-16;
  }
}

.standalone-log-in {
  overflow: hidden;
  padding: 48px 0;

  .header {
    overflow: hidden;
  }

  .log-in-white-box {
    background-color: $white;
    border-radius: 8px;
    padding: 32px;

    .btn-log-in-investor {
      background-color: $fs-blue;
      color: $white;
    }

    .fs-log-in-button {
      width: 100% !important;
      padding: 12px !important;
      font-size: 20px !important;
      margin-top: 24px;
      margin-bottom: 24px;
    }

    .log-in-form {
      overflow: hidden;
      margin-top: 24px;

      .log-in-form-field__wrapper {
        margin-bottom: 24px !important;

        .form-control {
          border: 1px solid $silver;
          height: 40px;
          box-shadow: none !important;
        }
      }
    }


    .log-in-form-field__wrapper__border-top {
      border-top: 1px solid #F1F1F2;
      padding-top: 32px !important;
    }

    .mat-checkbox-layout .mat-checkbox-label {
      color: $black;
      display: block;
    }
  }
}
