.upload-label {
  color: $fs-gray;
  font-size: $font-14;
}

.upload-instructions {
  color: $fs-gray;
  font-size: $font-14;
}

.upload-btn-description {
  color: $ink-lighter;
  font-size: $font-14;
}

.upload-description {
  color: $ink-lighter;
  font-size: $font-12;
}
