<div class="container-fluid term-condition">
  <div class="row text-justify">
    <div class="col-md-10 content-center">
      <div id="webContent">
        <section id="expertSection">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center margin-top-20">
              <div class="Gilroy-SemiBold title">
                  {{ 'risk-disclosure.title' | translate }}
              </div>
            </div>
          </div>

          <div class="content">
            <div [innerHTML]="( 'risk-disclosure.content' | translate )">
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
