<div class="container-fluid">
  <div class="row text-justify" style="padding-bottom:10em;">
    <div class="col-md-8 content-center">
      <div id="webContent">
        <section id="allocationPolicySection">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="Gilroy-SemiBold title">
                {{ 'allocation-policy.title' | translate }}
              </div>
            </div>
          </div>
          <div class="content">
            <div [innerHTML]="( 'allocation-policy.content' | translate )">
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
