<div class="container-fluid">
  <div class="row text-justify" style="padding-bottom:10em;">
    <div class="col-md-8 content-center">
      <div id="webContent">
        <section id="expertSection">
          <div class="row">
            <div class="fs-setting-content fs-password-form">
              <div class="col-md-6 content-center">
                <div class="d-inline-block full-width">
                  <div class="fs-signup-form">
                    <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit()" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-null"
                      id="password-form" name="password-form">
                      <div class="fs-signup-title font-size-36 Gilroy-SemiBold">{{ 'form.password.placeholder.title-password' | translate }}</div>
                      <div class="fs-signup-caption margin-top-10 margin-bottom-10 password-restriction">
                        {{ 'form.password.placeholder.subtitle-password' | translate }}
                        <strong>
                          <div [ngClass]="{ 'password-restriction-error': !passwordRestriction.valid }" *ngFor="let passwordRestriction of formModel.password.passwordRestrictions">
                            {{ passwordRestriction.label }}
                          </div>
                        </strong>
                      </div>
                      <div class="form-inline margin-bottom-10">
                        <div class="form-group sign-up-group full-width" [ngClass]="{ 'form-control-error': !formModel.password.passwordValid || (formModel.password.validation && passwordForm.controls.password.invalid) }">
                          <label>{{ 'form.password.placeholder.new-password' | translate }}</label>
                          <input (keyup)="onTypePassword()" autocomplete="off" class="form-control sign-up-form" formControlName="password" id="password"
                            name="password" type="password" />
                        </div>
                      </div>
                      <div class="form-inline margin-bottom-10">
                        <div class="form-group sign-up-group full-width" [ngClass]="{ 'form-control-error': formModel.password.validation && (!formModel.password.retypedPasswordMatches || passwordForm.controls.retypedPassword.invalid) }">
                          <label>{{ 'form.password.placeholder.retype-password' | translate }}</label>
                          <input (keyup)="onRetypePassword()" autocomplete="off" class="form-control sign-up-form" formControlName="retypedPassword"
                            id="retypedPassword" name="retypedPassword" type="password" />
                        </div>
                      </div>
                      <div class="onboarding-footer">
                        <button class="btn btn-primary-investor" id="setting-password-form-submit" name="setting-password-form-submit" type="submit">
                          {{ 'form.password.placeholder.submit' | translate }}
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>