  <div class="fs-signup-form setting">
  <div class="fs-setting-content">
    <div class="col-md-8 content-center">
      <div class="fs-signup-title font-size-16 Gilroy-SemiBold">{{ 'form.setting-password.placeholder.title-password' | translate }}</div>
      <div class="fs-setting-box fs-box-shadow d-inline-block full-width">
        <div>
          <form
            [formGroup]="settingPasswordForm"
            (ngSubmit)="onSettingPasswordFormSubmit()"
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-null"
            id="setting-password-form"
            name="setting-password-form">
            <div class="margin-bottom-10 password-restriction">
              {{ 'form.setting-password.password-should-contain' | translate }}
              <ul>
                <li [ngClass]="{ 'password-restriction-error': !passwordRestriction.valid }" *ngFor="let passwordRestriction of formModel.settingPassword.passwordRestrictions">
                  <span [ngClass]="{ 'password-restriction-error': !passwordRestriction.valid }">{{ passwordRestriction.label }}</span>
                </li>
              </ul>
            </div>
            <div class="form-inline margin-bottom-10">
              <div
                class="form-group sign-up-group"
                [ngClass]="{ 'form-control-error': formModel.settingPassword.validation && settingPasswordForm.controls.oldPassword.invalid }">
                <label>{{ 'form.setting-password.placeholder.old-password' | translate }}</label>
                <input
                  autocomplete="off"
                  class="form-control sign-up-form"
                  formControlName="oldPassword"
                  id="oldPassword"
                  name="oldPassword"
                  type="password" />
              </div>
            </div>
            <div class="form-inline margin-bottom-10">
              <div
                class="form-group sign-up-group "
                [ngClass]="{ 'form-control-error': !formModel.settingPassword.passwordValid || (formModel.settingPassword.validation && settingPasswordForm.controls.password.invalid) }">
                <label>{{ 'form.setting-password.placeholder.new-password' | translate }}</label>
                <input
                  (keyup)="onTypePassword()"
                  autocomplete="off"
                  class="form-control sign-up-form"
                  formControlName="password"
                  id="password"
                  name="password"
                  type="password" />
              </div>
              <div
              class="form-group sign-up-group"
              [ngClass]="{ 'form-control-error': formModel.settingPassword.validation && (!formModel.settingPassword.retypedPasswordMatches || settingPasswordForm.controls.retypedPassword.invalid) }">
              <label>{{ 'form.setting-password.placeholder.retype-password' | translate }}</label>
              <input
                (keyup)="onRetypePassword()"
                autocomplete="off"
                class="form-control sign-up-form"
                formControlName="retypedPassword"
                id="retypedPassword"
                name="retypedPassword"
                type="password" />
            </div>

            </div>
            <div class="onboarding-footer">
              <button
                class="btn btn-primary-investor pull-left"
                id="setting-password-form-submit"
                name="setting-password-form-submit"
                type="submit">
                {{ 'form.setting-password.placeholder.submit' | translate }} Password
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="fs-signup-title font-size-16 Gilroy-SemiBold">{{ 'form.setting-password.two-fa' | translate }}</div>
      <div class="fs-setting-box fs-box-shadow d-inline-block full-width">
        <div>
            <div class="margin-bottom-10 password-restriction">
              {{ 'form.setting-password.2fa-description-1' | translate }}
              <a href="/admin-investor/setting/personal">{{ 'setting.tabs.personal' | translate }}</a>
              {{ 'form.setting-password.2fa-description-2' | translate }}
              <a href="/admin-investor/setting/personal">{{ 'setting.tabs.personal' | translate }}</a>
              {{ 'form.setting-password.section' | translate }}
            </div>
            <div class="form-inline margin-bottom-10">
              <div class="form-group sign-up-group">
                <label>
                  <span>{{ 'form.setting-personal.placeholder.mobile-phone-number' | translate }}</span>
                  <span role="button" class="pull-right" (click)="openTwoFaSetup()">
                    <a>{{ 'form.setting-personal.placeholder.change' | translate }}</a>
                  </span>
                </label>
                <input
                autocomplete="off"
                [(ngModel)]="mobilePhonePrefix"
                class="form-control sign-up-form form-control-prefix"
                type="text" disabled/>
              -
              <input
                autocomplete="off"
                [(ngModel)]="mobilePhoneNumber"
                class="form-control sign-up-form form-control-affix form-control-no-float"
                type="text" disabled/>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-two-fa-setup (onPhoneNumberChangeSuccess)="onPhoneNumberChanged($event)"></app-two-fa-setup>
