<div class="container-fluid">
  <div class="row text-justify" style="padding-bottom:10em;">
    <div class="col-md-8 content-center">
      <div id="webContent">
        <section id="expertSection">
          <div class="row">
            <div class="col-md-12 text-center margin-top-20">
              <div class="Gilroy-SemiBold font-size-30">
                {{ 'term-of-service.title' | translate }}
              </div>
            </div>
            <div class="col-md-7 content-center light-gray-text text-center">
              {{ 'term-of-service.caption' | translate }}
            </div>
          </div>
          <div class="" style="width:80%; margin:30px auto">
            <div [innerHTML]="( 'term-of-service.content' | translate )">
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>Î
</div>