<div class="container-fluid term-condition">
  <div class="row">
    <div class="col-md-8 content-center">
      <div id="webContent">
          <div class="row">
            <div class="col-md-12 text-center margin-top-20">
              <div class="Gilroy-SemiBold title">
                  {{ 'complaint-handling.title' | translate }}
              </div>
            </div>
          </div>
          <div class="content complaint-handling">
            <div [innerHTML]="( 'complaint-handling.content' | translate )">
          </div>
      </div>
    </div>
  </div>
</div>
