<div class="container-fluid not-found-page">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 left-section">
      <div class="Gilroy-SemiBold font-size-38">
        {{ 'not-found-page.title' | translate }}
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 Gilroy-Light font-size-38 padding-null margin-bottom-20" style="line-height:1">
        {{ 'not-found-page.caption' | translate }}
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 padding-null margin-bottom-5">
        {{ 'not-found-page.description' | translate }}
      </div>
      <div style="color:#4a4a4a">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 padding-null" role="button" routerLink="/career">
          {{ 'navigation.career' | translate }}
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 padding-null" role="button" routerLink="/about-us">
          {{ 'navigation.about-us' | translate }}
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 padding-null" role="button">
          <span routerLink="/log-in">{{ 'navigation.log-in' | translate }}</span> /
          <span routerLink="/sign-up">{{ 'navigation.sign-up' | translate }}</span>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 padding-null" role="button" routerLink="borrow">
          {{ 'navigation.borrow' | translate }}
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 padding-null" role="button" routerLink="invest">
          {{ 'navigation.investor' | translate }}
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 padding-null" role="button" routerLink="refer">
          {{ 'navigation.refer' | translate }}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="not-found-page-image">
      </div>
    </div>
  </div>
</div>
