<div class="container-fluid standalone-signup">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="sign-up-white-box">
          <div class="row">
            <ng-container *ngIf="!isResponse">
              <div class="col-xs-12 forgot-password-image content-center">
              </div>
              <div class="col-xs-12 text-center Gilroy-SemiBold font-size-28 margin-top-10">
                {{ 'form.forgot-password.placeholder.title' | translate }}
              </div>
              <div class="col-xs-12 text-center font-size-12 margin-top-10">
                {{ 'form.forgot-password.placeholder.description' | translate }}
              </div>
              <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()" class="col-xs-12  margin-top-15"
                id="forgot-password-form" name="forgot-password-form">
                <div class="col-xs-12 ">
                  <input [ngClass]="{ 'form-control-error': formModel.forgotPassword.validation && forgotPasswordForm.controls.email.invalid }"
                    [placeholder]="('form.forgot-password.placeholder.email' | translate)" autocomplete="off" class="form-control"
                    formControlName="email" name="email" type="email" />
                </div>
                <div class="col-xs-12  margin-top-10">
                  <button class="btn btn-primary-investor full-width fs-padding-btn" id="forgot-password-form-submit" name="forgot-password-form-submit"
                    type="submit">
                    <div [innerHtml]="('form.forgot-password.placeholder.submit' | translate)" class="block font-size-16">
                    </div>
                  </button>
                </div>
              </form>
            </ng-container>
            <ng-container *ngIf="isResponse">
              <div class="col-md-12 instruction-send-image content-center">
              </div>
              <div class="col-md-12 text-center Gilroy-SemiBold font-size-28 margin-top-10">
                {{ 'form.forgot-password-response.placeholder.title' | translate }}
              </div>
              <div class="col-md-12 text-center font-size-14 margin-top-10">
                <span [innerHtml]="('form.forgot-password-response.placeholder.description' | translate)">
                </span>
                <strong>{{ formModel.forgotPassword.userName }}</strong>
              </div>
            </ng-container>
            <div class="col-xs-12 margin-top-20">
              <div class="line-text-middle">
              </div>
            </div>
            <div class="text-center">
              <a class="btn-rectangle btn"  routerLink="/log-in">
                {{ 'form.forgot-password.placeholder.footer-button' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
