<div class="container-fluid" id="webContent">
    <div class="row text-justify">
      <div class="col-md-8 content-center">
        <section id="expertSection">
          <div class="row">
            <div class="col-md-12 text-center margin-top-20">
              <div class="Gilroy-SemiBold font-size-30 margin-bottom-20">{{ 'privacy-notice-if.title' | translate }}</div>
              <div class="col-md-7 content-center light-gray-text text-center">
                {{ 'privacy-notice-if.caption' | translate }}
              </div>
            </div>
            <div class="" style="width:80%; margin:30px auto">
              <div [innerHTML]="( 'privacy-notice-if.content' | translate )">
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>